In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns

In [6]:
archivo_poblacion_paises = pd.read_csv(r'C:\DATA_SCIENCE\EDA_Entrega\Base de Datos para EDA 1\covid19_country_population.csv')

archivo_poblacion_paises.info()

# BBDD que nos indica la pobalcion total de los paises dentro del estudio, a nivel global.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 263 entries, 0 to 262
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CountryAlpha3Code  263 non-null    object
 1   Population         263 non-null    float64
dtypes: float64(1), object(1)
memory usage: 4.2+ KB

In [10]:
archivo_pruebas_pcr = pd.read_csv(r'C:\DATA_SCIENCE\EDA_Entrega\Base de Datos para EDA 1\casos_diag_ccaadecl.csv')

archivo_pruebas_pcr.info()

# BBDD que nos muestra el tipo de prueba diagnóstica para la detección del virus COVID19 en España por comunidades autónomas.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15542 entries, 0 to 15541
Data columns (total 8 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   ccaa_iso                      15542 non-null  object
 1   fecha                         15542 non-null  object
 2   num_casos                     15542 non-null  int64
 3   num_casos_prueba_pcr          15542 non-null  int64
 4   num_casos_prueba_test_ac      15542 non-null  int64
 5   num_casos_prueba_ag           15542 non-null  int64
 6   num_casos_prueba_elisa        15542 non-null  int64
 7   num_casos_prueba_desconocida  15542 non-null  int64
dtypes: int64(6), object(2)
memory usage: 971.5+ KB

In [11]:
archivo_pruebas_pcr.sample(5)

# la comuna 'num_casos_prueba_ag' hace referencias a las prubas de antígenos.
# Desechamos las columnas prueba elisa y prueba desconocida por falta de datos concluyentes para el estudio.
# Tenemos que determinar la 'ISO' de las comunidades autónomas.

,ccaa_iso,fecha,num_casos,num_casos_prueba_pcr,num_casos_prueba_test_ac,num_casos_prueba_ag,num_casos_prueba_elisa,num_casos_prueba_desconocida
11297,IB,2021-08-25,284,180,0,104,0,0
7406,NC,2021-02-01,204,117,0,87,0,0
784,CL,2020-02-19,0,0,0,0,0,0
11740,RI,2021-09-17,17,12,0,5,0,0
6636,CL,2020-12-23,317,173,0,144,0,0

In [ ]:
archivo_grupo_edad = pd.read_csv(r'C:\DATA_SCIENCE\EDA_Entrega\Base de Datos para EDA 1\casos_hosp_uci_def_sexo_edad_provres.csv')

archivo_grupo_edad.sample(5)

# Desechamos columnas 'num_hosp', 'num_uci', 'num_def' por falta de datos conluyentes.

,provincia_iso,sexo,grupo_edad,fecha,num_casos,num_hosp,num_uci,num_def
164551,LU,H,10-19,2020-04-13,0,0,0,0
1231987,T,H,70-79,2022-02-13,18,0,0,0
873491,GU,M,10-19,2021-07-03,1,0,0,0
1087057,PM,H,70-79,2021-11-14,3,3,0,0
802430,P,NC,0-9,2021-05-19,0,0,0,0

In [22]:
archivo = pd.read_csv(r'C:\DATA_SCIENCE\EDA_Entrega\Base de Datos para EDA 1\casos_tecnica_provincia.csv')

archivo.head(5)

# Desechar esta BBDD, es muy parecida a otra anterior y no aporta nada de valor a la información.

,provincia_iso,fecha,num_casos,num_casos_prueba_pcr,num_casos_prueba_test_ac,num_casos_prueba_ag,num_casos_prueba_elisa,num_casos_prueba_desconocida
0,A,2020-01-01,0,0,0,0,0,0
1,AB,2020-01-01,0,0,0,0,0,0
2,AL,2020-01-01,0,0,0,0,0,0
3,AV,2020-01-01,0,0,0,0,0,0
4,B,2020-01-01,0,0,0,0,0,0

In [ ]:
archivo2 = pd.read_csv(r'C:\DATA_SCIENCE\EDA_Entrega\Base de Datos para EDA 1\hosp_uci_def_sexo_edad_provres_todas_edades.csv')

archivo2['fecha'].head(10)

# BBDD que nos muestra el número de hospitalicaciones, UCI y defunciones desde el año 2022. Por ahora no me parece interesante, puesto
# que según los datos de la tabla el nivel de mortalidad es casi nulo, y no nos sirve de muestra para el estudio de la incidencia de la,
# mortalidad en el pico de la pandemia. Aún así puede ser un área de estudio para investigar si el tipo de dieta afecta a la hospitalización.

0    2022-03-28
1    2022-03-28
2    2022-03-28
3    2022-03-28
4    2022-03-28
5    2022-03-28
6    2022-03-28
7    2022-03-28
8    2022-03-28
9    2022-03-28
Name: fecha, dtype: object

In [35]:
archivo_etnico = pd.read_excel(r'C:\DATA_SCIENCE\EDA_Entrega\Base de Datos para EDA 1\Mortality_incidence_sociodemographic_and_clinical_data_in_COVID19_patients.xlsx')

archivo_etnico.sample(10)

# BBDD que nos muestra por tipología de raza los análisis y la mortalidad del virus. Puede ser interesante determinar la incidencia del virus,
# según diversidad racial. También se puede determinar aminoácidos, proteinas y azúcares en las personas fallecidas para ver si hay punto en común.

c:\Users\Joaquín\AppData\Local\Programs\Python\Python312\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

,Derivation cohort,LOS_Y,LOS,Death,Age,Severity,Black,White,Asian,Latino,...,Ferritin > 300,CrctProtYes,CrctProtein,C-Reactive Prot > 10,ProCalCYes,Procalcitonin,Procalciton > 0.1,TropYes,Troponin,Troponin > 0.1
3974,0,1,10,1,0-60,6,0,0,0,1,...,1,1,37.2000,1,1,0.0000,0,0,0.00,0
3232,0,1,10,0,0-60,2,0,0,0,1,...,0,1,17.7000,1,1,0.1000,0,1,0.01,0
3021,0,1,10,1,>80,5,1,0,0,0,...,1,1,5.7000,0,1,0.1000,0,0,0.00,0
4034,0,1,1,1,0-60,4,0,0,0,1,...,0,0,3.7000,0,0,0.3000,0,1,0.02,0
4326,0,1,5,0,>60,6,0,0,1,0,...,0,1,32.4000,1,1,0.8000,1,1,0.02,0
4213,0,1,3,0,>70,6,1,0,0,0,...,0,0,12.2000,0,0,0.5000,0,1,0.16,1
586,1,1,2,1,>60,6,1,0,0,0,...,1,1,27.7000,1,1,0.2000,1,1,0.01,0
4626,0,1,11,1,0-60,6,0,0,0,1,...,1,1,0.4999,0,1,2.3000,1,1,0.01,0
1362,1,1,18,0,>70,5,1,0,0,0,...,1,1,2.8000,0,1,0.4000,1,1,0.08,0
3127,0,1,2,0,0-60,2,0,0,0,0,...,1,1,2.7000,0,1,0.0999,0,0,0.00,0

In [40]:
archivo = pd.read_csv(r'C:\DATA_SCIENCE\EDA_Entrega\Base de Datos para EDA 1\owid-covid-data.csv')

archivo.info()

# BBDD muy completa en cuanto a datos globales, pero con muchos vacíos métricos que no nos permiten de una manera sencilla hacer una,
# relación causal entre pacientes y estados de salud, puesto que hay muchos datos con NaN, lo que nos diluye mucho la muestra y sacar datos,
# hacen que sean estimaciones poco exactas. Aún así, se puede sacar bastante información que nos permita cruzar datos con otras tablas.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 166326 entries, 0 to 166325
Data columns (total 67 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   iso_code                                    166326 non-null  object
 1   continent                                   156370 non-null  object
 2   location                                    166326 non-null  object
 3   date                                        166326 non-null  object
 4   total_cases                                 163293 non-null  float64
 5   new_cases                                   163133 non-null  float64
 6   new_cases_smoothed                          161150 non-null  float64
 7   total_deaths                                145451 non-null  float64
 8   new_deaths                                  145487 non-null  float64
 9   new_deaths_smoothed                         143390 non-null  float64
 10  total_cases_per_million                     162535 non-null  float64
 11  new_cases_per_million                       162375 non-null  float64
 12  new_cases_smoothed_per_million              160398 non-null  float64
 13  total_deaths_per_million                    144706 non-null  float64
 14  new_deaths_per_million                      144742 non-null  float64
 15  new_deaths_smoothed_per_million             142651 non-null  float64
 16  reproduction_rate                           125820 non-null  float64
 17  icu_patients                                23463 non-null   float64
 18  icu_patients_per_million                    23463 non-null   float64
 19  hosp_patients                               24617 non-null   float64
 20  hosp_patients_per_million                   24617 non-null   float64
 21  weekly_icu_admissions                       5433 non-null    float64
 22  weekly_icu_admissions_per_million           5433 non-null    float64
 23  weekly_hosp_admissions                      10923 non-null   float64
 24  weekly_hosp_admissions_per_million          10923 non-null   float64
 25  new_tests                                   67317 non-null   float64
 26  total_tests                                 69255 non-null   float64
 27  total_tests_per_thousand                    69255 non-null   float64
 28  new_tests_per_thousand                      67317 non-null   float64
 29  new_tests_smoothed                          84035 non-null   float64
 30  new_tests_smoothed_per_thousand             84035 non-null   float64
 31  positive_rate                               78655 non-null   float64
 32  tests_per_case                              78084 non-null   float64
 33  tests_units                                 86386 non-null   object
 34  total_vaccinations                          45194 non-null   float64
 35  people_vaccinated                           42987 non-null   float64
 36  people_fully_vaccinated                     40241 non-null   float64
 37  total_boosters                              17539 non-null   float64
 38  new_vaccinations                            37447 non-null   float64
 39  new_vaccinations_smoothed                   84398 non-null   float64
 40  total_vaccinations_per_hundred              45194 non-null   float64
 41  people_vaccinated_per_hundred               42987 non-null   float64
 42  people_fully_vaccinated_per_hundred         40241 non-null   float64
 43  total_boosters_per_hundred                  17539 non-null   float64
 44  new_vaccinations_smoothed_per_million       84398 non-null   float64
 45  new_people_vaccinated_smoothed              83088 non-null   float64
 46  new_people_vaccinated_smoothed_per_hundred  83088 non-null   float64
 47  stringency_index                            130072 non-null  float64
 48  population                                  165251 non-null  float64
 49  population_density                          147928 non-null  float64
 50  median_age                                  137831 non-null  float64
 51  aged_65_older                               136337 non-null  float64
 52  aged_70_older                               137092 non-null  float64
 53  gdp_per_capita                              138504 non-null  float64
 54  extreme_poverty                             91215 non-null   float64
 55  cardiovasc_death_rate                       136778 non-null  float64
 56  diabetes_prevalence                         143949 non-null  float64
 57  female_smokers                              106050 non-null  float64
 58  male_smokers                                104595 non-null  float64
 59  handwashing_facilities                      68569 non-null   float64
 60  hospital_beds_per_thousand                  123664 non-null  float64
 61  life_expectancy                             155268 non-null  float64
 62  human_development_index                     136253 non-null  float64
 63  excess_mortality_cumulative_absolute        5696 non-null    float64
 64  excess_mortality_cumulative                 5696 non-null    float64
 65  excess_mortality                            5696 non-null    float64
 66  excess_mortality_cumulative_per_million     5696 non-null    float64
dtypes: float64(62), object(5)
memory usage: 85.0+ MB